{{if .ResourceMetadata.Name}}terraform import -provider={{.Provider}} {{.ResourceMetadata.Name}}.{{if eq .ResourceMetadata.ResourceType "region"}}{{convertSlashAndDotToDash .Resource.Data.Name}} {{createRegion .Resource.Data.Region}}/{{.Resource.Data.Name}}{{else if eq .ResourceMetadata.ResourceType "project/zone"}}{{convertSlashAndDotToDash .Resource.Data.Name}} {{createProject .Name}}/{{createZone .Resource.Data.Zone}}/{{.Resource.Data.Name}}{{else if eq .ResourceMetadata.ResourceType "zone"}}{{convertSlashAndDotToDash .Resource.Data.Name}} {{createZone .Resource.Data.Zone}}/{{.Resource.Data.Name}}{{else if eq .ResourceMetadata.ResourceType "project"}}{{getLastWord .Resource.Data.Name | removeAtmark | convertSlashAndDotToDash }} {{.Resource.Data.Name }}{{else if eq .ResourceMetadata.ResourceType "location"}}{{getLastWord .Resource.Data.Name | removeAtmark | convertSlashAndDotToDash }} {{.Resource.Data.Location}}/{{ .Resource.Data.Name }}{{end}}{{end}}
