{{if .ResourceMetadata.Name}}resource "{{.ResourceMetadata.Name}}" {{ if eq .ResourceMetadata.ResourceType "region"}}"{{convertSlashAndDotToDash .Resource.Data.Name}}"{{else if or (eq .ResourceMetadata.ResourceType "project/zone") (eq .ResourceMetadata.ResourceType "zone") }}"{{convertSlashAndDotToDash .Resource.Data.Name}}"{{else if eq .ResourceMetadata.ResourceType "project"}}"{{getLastWord .Resource.Data.Name | removeAtmark | convertSlashAndDotToDash }}"{{else if eq .ResourceMetadata.ResourceType "location"}}"{{getLastWord .Resource.Data.Name | convertSlashAndDotToDash}}"{{end}} {}{{end}}
