resource google_service_account "{{convertSlashAndDotToDash .Primary.ID | removeAtmark }}"{
    //provider
    {{ if eq .Provider "provider.google" }}provider = "google"{{ end }}
    {{ if eq .Provider "provider.google-beta" }}provider = "google-beta"{{ end }}
    //required
    account_id   = "{{.Primary.Attributes.AccountID}}"
    display_name = "{{.Primary.Attributes.DisplayName}}"
    //optional
    {{$tmp := .Primary.Attributes.Project}}{{with $tmp}}
    project = "{{$tmp}}"{{end}}

    //beta
}
