resource "google_compute_disk" "{{convertSlashAndDotToDash .Primary.ID}}"{
    //provider
    {{ if eq .Provider "provider.google" }}provider = "google"{{ end }}
    {{ if eq .Provider "provider.google-beta" }}provider = "google-beta"{{ end }}
    //required
    name = "{{.Primary.Attributes.Name}}"
    //optional
    {{$tmp := .Primary.Attributes.Description}}{{with $tmp}}
    description = "{{escapeDoubleQuote $tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.Labels}}{{with $tmp}} 
    labels {
        {{range $i, $v := $tmp}}
        {{$i}} = "{{$v}}"{{end}}
    }{{end}}

    {{$tmp := .Primary.Attributes.Size}}{{with $tmp}}
    size = "{{$tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.PhysicalBlockSizeBytes}}{{with $tmp}}
    physical_block_size_bytes = "{{$tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.Type}}{{with $tmp}}
    type = "{{$tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.Image}}{{with $tmp}}
    image = "{{$tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.Zone}}{{with $tmp}}
    zone = "{{$tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.Snapshot}}{{with $tmp}}
    snapshot = "{{$tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.Project}}{{with $tmp}}
    project = "{{$tmp}}"{{end}}
    
    //add sha256 if you need
    {{$tmp := .Primary.Attributes.DiskEncryptionKey}}{{with $tmp}}
    {{range $i, $v := $tmp}}
        disk_encryption_key {
            {{$tmp1 := $v.RawKey}}{{with $tmp1}}raw_key = "{{$tmp1}}"{{end}}
            //sha256
            {{$tmp2 := $v.KmsKeySelfLink}}{{with $tmp2}}kms_key_self_link = "{{$tmp2}}"{{end}}
        }{{end}}{{end}}
    {{$tmp := .Primary.Attributes.SourceImageEncryptionKey}}{{with $tmp}}
    {{range $i, $v := $tmp}}
        source_image_encryption_key {
            {{$tmp1 := $v.RawKey}}{{with $tmp1}}raw_key = "{{$tmp1}}"{{end}}
            //sha256
            {{$tmp2 := $v.KmsKeySelfLink}}{{with $tmp2}}kms_key_self_link = "{{$tmp2}}"{{end}}
        }{{end}}{{end}}

    {{$tmp := .Primary.Attributes.SourceSnapshotEncryptionKey}}{{with $tmp}}
    {{range $i, $v := $tmp}}
        source_snapshot_encryption_key {
            {{$tmp1 := $v.RawKey}}{{with $tmp1}}raw_key = "{{$tmp1}}"{{end}}
            //sha256
            {{$tmp2 := $v.KmsKeySelfLink}}{{with $tmp2}}kms_key_self_link = "{{$tmp2}}"{{end}}
        }{{end}}{{end}}
}
