resource "google_compute_http_health_check" "{{convertSlashAndDotToDash .Primary.ID}}"{
    //provider
    {{ if eq .Provider "provider.google" }}provider = "google" {{ end }}
    {{ if eq .Provider "provider.google-beta" }}provider = "google-beta" {{ end }}
    
    //required
    name = "{{.Primary.Attributes.Name}}"
    
    //optional
    {{$tmp := .Primary.Attributes.CheckIntervalSec}}{{with $tmp}}
    check_interval_sec = "{{$tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.Description}}{{with $tmp}}
    description = "{{escapeDoubleQuote $tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.HealthyThreshold}}{{with $tmp}}
    healthy_threshold = "{{$tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.Host}}{{with $tmp}}
    host = "{{$tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.Port}}{{with $tmp}}
    port = "{{$tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.RequestPath}}{{with $tmp}}
    request_path = "{{$tmp}}"{{end}}

    {{$tmp := .Primary.Attributes.TimeoutSec}}{{with $tmp}}
    timeout_sec = "{{$tmp}}"{{end}}
    
    {{$tmp := .Primary.Attributes.UnhealthyThreshold}}{{with $tmp}}
    unhealthy_threshold = "{{$tmp}}"{{end}}
           
    {{$tmp := .Primary.Attributes.Project}}{{with $tmp}}
    project = "{{$tmp}}"{{end}}

    //beta
}
